.bottomMenu_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 0 24px 0;
    width: 100%;
}

.formView .controls .controls_row {
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
}

.formView .controls .control_text {
    max-width: 400px;
    margin-right: 16px;
}
.formView .controls .control_select {
    max-width: 400px;
}
.formView .controls .control_number {
    max-width: 400px;
}